@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap");

/* GLOBAL CSS */

* {
  box-sizing: border-box;
}

button:active {
  transform: translate(1px, 1px);
}

a {
  cursor: auto;
}

li,
p {
  font-family: "Balsamiq Sans", cursive;
}

h2 {
  font-family: "Dancing Script", cursive;
  letter-spacing: 2px;
  font-weight: 500;
}

h4 {
  font-family: "Balsamiq Sans", cursive;
  letter-spacing: 3px;
}

.App {
  display: flex;
  flex-direction: column;
  margin: 1vw;
}

/* HEADER */

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid gray;
  box-shadow: 1px 1px 5px gray;
}

.title {
  font-size: 3vw;
  margin-left: 2vw;
  font-family: "Dancing Script", cursive;
  letter-spacing: 7px;
  text-shadow: 1px 1px 2px gray;
}

.search-bar {
  height: 4vh;
  /* width: 50%; */
  font-size: 1.5vw;
  padding: 1.5vw;
  box-shadow: 1px 1px 5px gray;
  outline: none;
  opacity: 0.5;
  border-radius: 18px;

  width: 40vw;
  transform: translateX(-5vw);
}

.search-bar:focus {
  opacity: 1;
}

.error {
  border: solid 2px red;
  font-weight: bold;
}

.submit-btn {
  color: #fff;
  font-weight: bold;
  letter-spacing: 0.3vw;
  padding: 0.75vw;
  margin-right: 2vw;
  font-size: 1vw;
  cursor: pointer;
  background: #111;
  outline: none;
  box-shadow: 1px 1px 2px gray;
}

.submit-btn:hover {
  background: rgb(41, 41, 41);
}

.home-btn {
  font-weight: bold;
  padding: 0.5vw;
  font-size: 3vw;
  margin: 0.5vw 3vw 0 -2vw;
  cursor: pointer;
  background: none;
  outline: none;
  border: none;
}

.home-btn:hover {
  color: #999;
}

.home-container {
  position: absolute;
  transform: translate(-4.65vw, 2vw);
  right: 0;
}

.home-container p {
  font-size: 1vw;
  transition: all 0.5s;
}

.recipe-container {
  display: flex;
  margin-bottom: 2vw;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* RECIPE CARDS */

.recipe-card {
  width: 300px;
  max-height: 44vh;
  background-image: url("https://cdn.iconscout.com/icon/premium/png-256-thumb/cooking-1562654-1324094.png");
  background-repeat: repeat;
  background-size: cover;
  background-position: bottom;
  transition: all 0.4s;

  margin: 1vw;
  box-shadow: 3px 0px 10px gray;
}

.recipe-card:hover {
  opacity: 0.8;
  transform: scale(1.05);
}

.card-img-wrapper {
  border-radius: 8px;
  display: flex;
  justify-content: center;
}

.card-img {
  width: 100%;
  max-height: 34vh;
  cursor: pointer;
}

.recipe-title-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
  opacity: 0.7;
  height: auto;
  z-index: 1;

  overflow: auto;
  margin-top: -4.6vh;

  transform: translateY(-4vh);
}

.recipe-title {
  color: #fff;
  overflow: auto;
}

.card-footer {
  opacity: 0.95;
  height: 6vh;
  display: flex;
  padding: 1.8vw;
  justify-content: space-between;
  align-items: center;
  transform: translateY(-5vh);

  background: white;
}

.card-star {
  font-size: 20px;
  transition: all 0.4s;
}

.card-star:hover {
  transform: rotate(360deg);
}

.card-fave-btn {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.2s;
  transform: translateY(-5px);
}

.card-fave-btn:hover {
  color: gold;
}

.recipe-btn {
  font-family: "Dancing Script", cursive;
  color: #fff;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 0.5vw;
  cursor: pointer;
  background: #111;
  outline: none;
  transform: translateY(-5px);
}
.recipe-btn:hover {
  background: rgb(88, 88, 88);
}

/* RECIPE PAGE POPUP */

.popup-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 0.5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  width: 50%;
  z-index: 1;
  background: #fff;
  border-radius: 8px;
  box-shadow: 2px 2px 10px gray;

  transition: all 0.5s;
}

.popup-header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-shadow: 1px 1px 5px gray;
}

.x-container {
  display: flex;
  align-self: flex-end;
}

.popup-header-container button {
  background: none;
  border: none;
  outline: none;
  font-size: 2vw;
  cursor: pointer;
}

.popup-header-container button:hover {
  color: crimson;
}

.popup-header-container h1 {
  font-family: "Dancing Script", cursive;
  padding-bottom: 15px;
  width: 80%;
  text-align: center;
  letter-spacing: 5px;
  font-size: 2.5vw;
  text-shadow: 1px 1px 2px gray;
  word-wrap: normal;
  border-bottom: solid 1px black;
}

.popup-header-container h4 {
  font-size: 1vw;
  letter-spacing: 4px;
  line-height: 1.5vw;
  font-style: italic;
  margin-left: 2vw;
  transform: translateY(-0.5vw);
}

.label-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-img-text-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.ingredients-container {
  color: #fff;
  padding: 2vw;
  width: 50%;
  max-height: 25vw;
  overflow-y: scroll;
  background: #555;
}

.ingredients-container li {
  padding: 0.5vw;
  border-bottom: solid 1px gray;
  color: #fff;
}

.popup-img-container {
  margin-top: 3vw;
  max-height: 20vw;
  width: 50%;
  box-shadow: 1px 1px 5px gray;
  border-radius: 8px;
}

.popup-img-container img {
  width: 100%;
  height: 100%;
}

.popup-link-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.url-btn {
  margin: 1vw;
  color: #fff;
  font-weight: bold;
  letter-spacing: 5px;
  padding: 0.75vw;
  font-size: 1vw;
  cursor: pointer;
  background: #111;
  outline: none;
  box-shadow: 1px 1px 2px gray;
}

.url-btn:hover {
  background: rgb(41, 41, 41);
}

@media only screen and (max-width: 500px) {
  .header-wrapper {
    height: 10vw;
  }

  .search-bar {
    height: 20px;
    margin-left: 4vw;
    font-size: 12px;
  }

  .submit-btn {
    transform: translate(-3vw, -1vw) scale(1.5);
  }

  .home-btn {
    transform: scale(2);
  }

  .recipe-card {
    margin-top: 3vh;
    width: 75%;
    transform: translateX(10vw);
  }
  .card-footer {
    justify-content: center;
  }

  .recipe-btn {
    display: none;
  }

  .popup-container {
    transform: translate(-50%, -70%);
    width: 75%;
  }

  .popup-header-container {
    /* height: 50%; */
    border: none;
    box-shadow: none;
  }

  .x-container button {
    font-size: 20px;
  }

  .popup-header-container h1 {
    font-size: 28px;
  }

  .popup-header-container h4 {
    font-size: 8px;
    line-height: 15px;
    text-align: center;
  }

  .ingredients-container {
    color: #fff;
    overflow-y: scroll;
    background: #555;
    width: 100%;
  }

  .popup-img-text-container {
    flex-direction: column;
  }

  .ingredients-container li {
    font-size: 12px;
  }

  .ingredients-container h2 {
    font-size: 20px;
    margin-top: -5px;
  }

  .ingredients-container h4 {
    font-size: 12px;
  }

  .popup-img-container img {
    display: none;
  }

  .url-btn {
    font-size: 16px;
    margin-bottom: 2vh;
  }
}
